Package: collectd-openstack
Version: 1.20140502-1
Architecture: all
Maintainer: Ricardo Rocha <ricardo@catalyst.net.nz>
Installed-Size: 62
Depends: python2.7 | python2.6, python (>= 2.6), python-keystoneclient, python-glanceclient, python-neutronclient, python-novaclient
Section: net
Priority: optional
Homepage: https://github.com/rochaport/collectd-openstack
Description: Plugins for collectd stats monitoring of OpenStack based systems
 This package provides various plugins for collecting OpenStack stats.
